<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miujike.userservice.mapper.FanMapper">

    <resultMap id="BaseResultMap" type="com.miujike.userservice.domain.Fan">
        <id column="fan_id" property="fanId"/>
        <result column="from_user_id" property="fromUserId"/>
        <result column="to_usr_id" property="toUserId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        fan_id as fanId,from_user_id as fromUserId,to_usr_id as toUserId,create_time as createTime
    </sql>
    <!--获取关注列表-->
    <select id="getUserFollowList" parameterType="map" resultType="map">
        select f.fan_id as fanId,f.from_user_id as fromUserId,(select count(*) from miu_fan where to_user_id = f.to_user_id) as fans,
        u.nickname,u.avatar_url as avatarUrl,u.user_id as userId,'true' as myFollow
        from miu_fan f left join miu_user u on f.to_user_id = u.user_id
        where f.from_user_id = #{userId}
        <if test='lastId != 0'>
            <![CDATA[
                and f.fan_id < #{lastId}
            ]]>
        </if>
        order by f.fan_id desc
        limit #{fetchNum}
    </select>
    <!--获取粉丝列表-->
    <select id="getUserFanList" parameterType="map" resultType="map">
        select f.fan_id as fanId,f.to_user_id as toUserId,(select count(*) from miu_fan where to_user_id = f.from_user_id) as fans,
        u.nickname,u.avatar_url as avatarUrl,u.user_id as userId,(select 'true' from miu_fan where to_user_id = f.from_user_id and from_user_id = #{userId}) as myFollow
        from miu_fan f left join miu_user u on f.from_user_id = u.user_id
        where f.to_user_id = #{userId}
        <if test='lastId != 0'>
            <![CDATA[
                and f.fan_id < #{lastId}
            ]]>
        </if>
        order by f.fan_id desc
        limit #{fetchNum}
    </select>
</mapper>