<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miujike.behaviorservice.mapper.ShareMapper">

    <resultMap id="BaseResultMap" type="com.miujike.behaviorservice.domain.Share">
        <id column="share_id" property="shareId"/>
        <result column="from_user_id" property="from_user_Id"/>
        <result column="create_time" property="createTime"/>
        <result column="target_type" property="targetType"/>
        <result column="target_id" property="targetId"/>
        <result column="eggs" property="eggs"/>
    </resultMap>
    <sql id="Base_Column_List">
        share_id as shareId,from_user_id as from_user_Id,create_time as createTime,target_type as targetType,
        target_id as targetId,eggs
    </sql>
</mapper>